# project cache
Arc.UniInk/.idea/
Arc.UniInk/packages/
Arc.UniInk/Arc.UniInk/bin/
Arc.UniInk/Arc.UniInk/obj/
Arc.UniInk/Arc.UniInk/Properties/

Arc.UniInk.Test/bin/
Arc.UniInk.Test/obj/
Arc.UniInk.Test/Properties/
*.dll
