# project cache
Arc.UniInk/.idea/
Arc.UniInk/packages/
Arc.UniInk/Arc.UniInk/Properties/
*.dll
*.cache
*.pdb

# project cache
/Arc.UniInk/Arc.UniInk.Benchmark/bin/
/Arc.UniInk/Arc.UniInk.Benchmark/obj/
/Arc.UniInk/Arc.UniInk/bin/
/Arc.UniInk/Arc.UniInk/obj/
Arc.UniInk/Arc.UniInk.sln.DotSettings.user
/Arc.UniInk/Arc.UniInk.BestPractices/bin
/Arc.UniInk/Arc.UniInk.BestPractices/bin
/Arc.UniInk/Arc.UniInk.BestPractices/obj
/Arc.UniInk/Arc.UniInk.BestPractices/obj
